var env = {
    // Note: you should _not_ commit this DARKSKY_API_KEY to a public repository!
    DARKSKY_API_KEY: "PLACE_YOUR_DARKSKY_API_KEY_HERE",
    LISTEN_PORT: 3006
}
module.exports = { env };
